# flyctl launch added from .gitignore
# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
**/*.local
**/bin

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

**/.DS_Store

# flyctl launch added from node_modules/loglevel/vendor/grunt-template-jasmine-requirejs/tasks/.gitignore
# Ignore everything in this directory
node_modules/loglevel/vendor/grunt-template-jasmine-requirejs/tasks/**/*
# Except this file
!node_modules/loglevel/vendor/grunt-template-jasmine-requirejs/tasks/**/.gitignore

# flyctl launch added from node_modules/tailwindcss/stubs/.gitignore
!node_modules/tailwindcss/stubs/**/*

# flyctl launch added from packages/client/.gitignore
# Logs
packages/client/**/logs
packages/client/**/*.log
packages/client/**/npm-debug.log*
packages/client/**/yarn-debug.log*
packages/client/**/yarn-error.log*
packages/client/**/pnpm-debug.log*
packages/client/**/lerna-debug.log*

packages/client/**/node_modules
packages/client/**/dist
packages/client/**/dist-ssr
packages/client/**/*.local

# Editor directories and files
packages/client/**/.vscode/*
!packages/client/**/.vscode/extensions.json
packages/client/**/.idea
packages/client/**/.DS_Store
packages/client/**/*.suo
packages/client/**/*.ntvs*
packages/client/**/*.njsproj
packages/client/**/*.sln
packages/client/**/*.sw?
fly.toml
